$large = 1200px
$black = #000

.site-header
    position fixed
    top 0
    left 0
    background-image url("/img/header_bg_md.jpg")
    background-repeat no-repeat
    background-position center 0
    background-attachment fixed
    border-bottom 5px solid $black
    position relative
    height 150px

    @media (min-width: $tablet)
        height 250px

    @media (min-width: $large)
        background-image url("/img/header_bg_1800.jpg")

    @media (min-width: 1800px)
        height 400px
        background-image url("/img/header_bg_lg.jpg")

    .logo
        max-width 350px
        width 100%


        @media (min-width: $tablet)
            max-width 800px
            height 275px
            position absolute
            left 50%
            transform translateX(-68%)
            bottom -40px
