extends layouts/base
block body
  .site-wrap.gallery
    .container
      .row
        .col-sm-12
          .gallery-view
            img.img-responsive(src="//placehold.it/600x900")

      .row
        .col-sm-12
          nav.gallery-nav.nav
            ul
              li.prev Prev
              li.next Next
