$tablet = 768px
$medium = 992px

@import "fonts"

@import "components/header"
@import "components/nav"
@import "components/gallery"

@import "sections/entree"

section
    $pad = 5em
    padding-top $pad
    padding-bottom $pad
